#gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#userCard{
  margin:5px
}
#userCard:hover{
cursor: pointer;
}
#labelName{
  margin-left: 25px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
#search{
  margin-left:20px;
  margin-top: 8px;
  height: 30px;
  width: 200px;
}

/* for the details */
#oneUserDetailsContainer{
  width: 80%;
  margin: auto;
 }
 
 #upperUserDetailContainer{
  justify-content: space-around;
  align-items: flex-start;
  display:flex;
 }
 
 .lblUser1 ,.lblUser2{
  display: block;
  font-size: 1.5rem;
 }
 .lblUser1{
  margin-top: 10px;
 }
 .lblUser2{
  margin-top: 2px;
 }
 
 #closeUserDetailsDiv{
  text-align: right;
 }
 
 #closeBtn{
  font-size: 2rem;
 }
 
 #userImage{
  width: 400px;
     margin-right: 20px;
 }